.Rproj.user
.Rhistory
.RData
.Ruserdata
Compilation Files/
DD Modified Sheets/
Data Cleaning Example.Rmd
Data Cleaning Example.nb.html
Data-Cleaning-Example.html
Electric 2011/
Electric 2012/
Electric 2013/
Electric 2014/
Electric 2015/
Electric 2016/
Electric 2017/
Electric 2018/
Electric 2019/
Electric 2020/
Electric 2021/
Electric Power Plants/
Electric Purchase and Sales/
Electric REIS and PUC comparison.xlsx
Electric Sales by County and Utility/
Electric Space Heating/
Electric Testing/
Electric Utility Info/
Electric Variable and Cleaner Functions/
Electric.Rproj
Electricity By Class/
Electricity Delivered by Month and Customer/
Example Notebook/
Generating Units/
Output Files/
Power Plant Errors.xlsx
Sample Files for Testing/
Scripts/
Unit Capability/
Unit Fuel/
Electric 2022/
Electric Contact/
Electric Functions/contact_cleaner.R
ElectricREISPackage.Rcheck/
ElectricREISPackage/
ElectricREISPackage_0.1.0.tar.gz
ElectricREISPackage_0.1.0.tar.gz












